body {
    font-family:    Arial, Helvetica, sans-serif;
    width:          850px;
    text-align:     center;
    margin:         20px auto;
}

#main {
    background:     #eee;
}

#header {
    height:         150px;
    background:     #aaa;
}

#headerTitle {
    height:         100px;
    font-size:      60px;
}

#widgetBar {
    height:         50px;
    width:          850px;
    margin:         20px 0 0 5px;
    font-size:      50px;
    color:          #333;
}

.headerWidget {
    width:          100px;
    margin:         0px 2px;
    font-size:      small;
    float:          left;
    line-height:    25px;
    background:     #ccc;
}

#content {
    width:          850px;
    background:     #ccc;
}

#footer {
    height:         60px;
    clear:          left;
    background:     #aaa;
}